<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
</head>
<body>
 <p><a href="/todo/add/">Добавить статью</a></p>
    {% for todo in ToDo_list %}
        <p><b>ID:</b> {{ todo.pk }}. ({{ todo.status }})</p>
        <p><b>Задача:</b> <a href="/task?id={{ todo.pk }}">{{ todo.description }}</a></p>
        <div><b>Выполнить до:</b> {{ todo.date }}</div>
        <div><a href="/delete?id={{ todo.pk }}">Удалить запись</a></div>
        <hr>
    {% endfor %}


</body>
</html>