{% extends 'base.html' %}
{% block title %}Create{% endblock %}

{% block content %}
<h1>Create ToDo</h1>
<form action="{% url 'create_view' %}" method="post">
    {% csrf_token %}
    <label for="id-status">Status:</label><br/>
    <select name="status" id="id-status">
        {% for value, label in status_choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
   </select><br/>
    <label>Date:</label><br/>
    <input type="text" name="date"/><br/>

    <label>Dscription:</label><br/>
    <textarea name="description"></textarea><br/>
    <br/>
   <label>Detailed description:</label><br/>
    <textarea name="detailed_description"></textarea><br/>
    <br/>
    <input type="submit" value="Send"/>
</form>
{% endblock %}